<form action="" name="ae_task" method="post">
  {% csrf_token %}
  <div id="AddTask" class="collapse mt-3">
    <div class="form-group">
      <label for="id_title" name="title">Task</label>
      <input type="text" class="form-control" id="id_title" name="title" required placeholder="Task title"
        value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="id_note">Description</label>
      <textarea class="form-control" id="id_note" name="note" rows="5"
        aria-describedby="inputNoteHelp">{% if form.note.value %}{{ form.note.value }}{% endif %}</textarea>
      <small id="inputNoteHelp" class="form-text text-muted">
        Describe the task.
      </small>
    </div>

    <div class="form-group">
      <label for="id_date_due">Due Date</label>
      <input type="date" class="form-control" id="id_date_due" name="date_due"
        value="{% if form.date_due.value %}{{ form.date_due.value|date:"Y-m-d" }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="id_user_assigned_to">Assigned To</label>
      {{form.user_assigned_to}}
    </div>
    <div class="form-group">
    <input type="number" name="priority"
      value="{% if form.priority.value %}{{ form.priority.value }}{% else %}999{% endif %}" id="id_priority">
    </div>
    <input type="hidden" name="user_created" value="{{ request.user.id }}" id="id_user_created">
    <input type="hidden" name="list_of_task" value="{{ form.list_of_task.value }}" id="id_list_of_task">

    <p>
      <input type="submit" name="add_task" value="Submit" class="btn btn-primary">
    </p>

  </div>
</form>
