{% extends "base.html" %}
{% block content %}
  <h1>Replenisher Task Lists</h1>

  <p>{{ cnt_task }} tasks in {{ cnt_list }} list{{ cnt_list|pluralize }}</p>

  {% regroup lists by group as section_list %}
  {% for group in section_list %}
    <h3>Group: {{ group.grouper }}</h3>
    <ul class="list-group mb-4">
      {% for task in group.list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="">{{ task.name }}</a>
        <span class="badge badge-primary badge-pill">{{ task.task_set.count }}</span>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <div class="mt-3">

    {% if user.is_staff %}
      <a href="" class="btn btn-primary">Create new todo list</a>
    {% else %}
      <a href="" class="btn btn-primary disabled">If you were staff, you could create a new list</a>
    {% endif %}

  </div>

{% endblock %}
