{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Task List: {{ list_of_task.name }}{% endblock %}

{% block content %}
    {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
  {% if list_slug != "personal" %}
    <button class="btn btn-primary" id="AddTaskButton" type="button"
      data-toggle="collapse" data-target="#AddTask" aria-expanded="false">Add Task</button>
      {% include 'add_task.html' %}
    <hr />
  {% endif %}

  {% if tasks %}
    {% if list_slug == "personal" %}
      <h1>Tasks assigned to me</h1>
    {% else %}
      <h1>{{ view_completed|yesno:"Completed tasks, Tasks" }} in "{{ list_of_task.name }}"</h1>
      <p><small><i>In Group "{{ list_of_task.group }}"</i></small></p>
    {% endif %}

      <table class="table" id="tasktable">
        <tr class="nodrop">
          <th>Task</th>
          <th>Created</th>
          <th>Due on</th>
          <th>Owner</th>
          <th>Assigned</th>
          <th>Current Status</th>
          <th>Change Status</th>
          <th>Delete Task</th>
        </tr>

        {% for task in tasks %}
          <tr id="{{ task.id }}">
            <td>
                <a href="{% url 'task_detail' task.id %}">{{ task.title|truncatewords:10 }}</a>
            </td>
            <td>
                {{ task.date_created|date:"m/d/Y" }}
            </td>
            <td>
                {{ task.date_due|date:"m/d/Y" }}
              </span>
            </td>
            <td>
              {{ task.user_created }}
            </td>
            <td>
              {% if task.user_assigned_to %}{{ task.user_assigned_to }}{% else %}Anyone{% endif %}
            </td>
            <td>
                  {% if view_completed %}
                      <button type="button" class="btn btn-success btn-sm"> Done </button>
                  {% else %}
                    <button type="button" class="btn btn-dark btn-sm"> Not Done </button>
                  {% endif %}
                </a>
              </td>
            <td>
                <a href="{% url "task_toggle" task.id %}" class="btn btn-info btn-sm">
                  {% if view_completed %}
                    Mark-Not Done
                  {% else %}
                    Mark-Done
                  {% endif %}
                </a>
              </td>
            <td>
              <a href="{% url "task_delete" task.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% include 'toggling.html' %}
  {% else %}
    {% include 'toggling.html' %}
    <h4>No tasks on this list yet (add one!)</h4>

  {% endif %}
{% endblock %}